<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xx后台管理系统</title>
</head>
<body>
  <div class="container">
    <!-- 到/users/login的文件中进行验证 -->
    <form action="/users/login" method="POST">
      <label>
        <span>用户名：</span>
        <input type="text" name="name" placeholder="请输入用户名">
      </label>
      <label>
        <span>密码：</span>
        <input type="password" name="pwd" placeholder="请输入密码">
      </label>

      <input type="submit" value="登录">
    </form>
  </div>
</body>
</html>