<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>xx后台管理系统</title>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  <div class="container">
    <!-- 到/users/login的文件中进行验证 -->
    <h1>请输入你的基本信息</h1>
    <form action="/users/register" method="POST">
      <label>
        <span>用户名：</span>
        <input type="text" name="name" placeholder="请输入用户名" class = 'regname'>
      </label><br><br>
      <label>
        <span>密&emsp;码：</span>
        <input type="password" name="pwd" placeholder="请输入密码" class = 'regpwd'>
      </label><br><br>
      <label>
        <span class = 'sex'>性&emsp;别：</span>
        <input type="radio" name="sex" value="男" checked> 男
        <input type="radio" name="sex" value="女"> 女
      </label><br>
      <label><br>
        <span class = 'guanli'>管理员：</span>
        <input type="radio" name="isAdmin" value="是"> 是
        <input type="radio" name="isAdmin" value="否" checked> 否
      </label><br><br>
      <input type="submit" value="注册" class = 'regsub'>
      <a href="/login.html">已有账号，立即登陆</a>
    </form>
  </div>
</body>

</html>